.wrapper {
    &__left,
    &__right {
        width: 50%;
    }
    &__right {
        height: 100vh;
        background-image: url("../../assets/images/Farm_bg.png");
        background-position: center;
        background-size: cover;
        min-width: 50%;
    }
    &__left {
        margin: 50px 0 0 140px;
        position: relative;
    }
}