.dataTemp-chart,
.dataTemp-table {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: black;
}

.dataTemp-chart-detail {
  height: 350px;
  background-color: white;
}

.dataTemp-table-detail {
  background-color: white;
}
.dataTemp-chart-title,
.dataTemp-table-title {
  background-color: white;
  padding: 2px 13px;
  margin-bottom: 30px;
}
.dataTemp-table-title {
  margin-top: 30px;
}
