.dataTemp-chart,
.dataTemp-table {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: black;
}

.dataTemp-chart-detail {
  height: 350px;
}

.dataTemp-table-detail {
  background-color: white;
}
