.dataAir-chart,
.dataAir-table {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: black;
}

.dataAir-chart-detail {
  height: 400px;
  background-color: white;
}

.dataAir-table-detail {
  background-color: white;
}
