.wrapper-header {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--logo {
        text-decoration: none;
        font-weight: 700;
        font-size: 44px;
    }
    &--iot {
        color: #585858;
    }
    &--farm {
        color: #2fb95d;
    }
    &__right {
        display: flex;
        align-items: center;
        &--navigate {
            a {
                text-decoration: none;
                color: #585858;
                padding: 20px;
                font-weight: 600;
                transition: all 0.2s linear;
                &:hover {
                    color: #ff5f73;
                }
            }
        }
        &--avatar {
            display: flex;
            align-items: center;
            color: #585858;
            text-decoration: none;
            font-weight: 600;
            span {
                padding: 0 20px;
                transition: all 0.2s linear;
                &:hover {
                    color: #ff5f73;
                }
            }
        }
        &--image {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
        &--dropdown {
            display: flex;
            align-items: center;
            & > span {
                cursor: pointer;
            }
        }
    }
}
