// .container-dataLight {
// }

.dataLight-chart,
.dataLight-table {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: green;
}
.dataLight-chart-detail,
.dataLight-table-detail {
    height: 400px;
    background-color: green;
}
