// .container-dataLand {
// }

.dataLand-chart,
.dataLand-table {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: brown;
}
.dataLand-chart-detail,
.dataLand-table-detail {
    height: 400px;
    background-color: brown;
}